<% @ruddl.each do |doc| %>
<div class="box panel" id="<%= doc.key %>">
  <a href="<%= doc.link %>" target="_blank"><img src="<%= doc.image %>"/></a>
    <div class='description'>
    <p class='description_content'>
      <a href="<%= doc.premalink %>" target="_blank"><%= doc.title %></a>
    </p>
  </div>
</div>
<% end %>
<nav id="page-nav">
  <a href="<%= "http://#{request.host}:#{request.port}/#{@section}/#{@ruddl.last.key}/#{@nextPage}" %>"></a>
</nav>

