<% @ruddl.each do |doc| %>
<div class="box panel" id="<%= doc.key %>">
  <% if(doc.image) %>
    <a href="<%= doc.link %>" target="_blank"><img src="<%= doc.image %>"/></a>
  <% else %>
    <%= doc.text %>
  <% end %>
    <div class='description'>
    <p class='description_content'>
      <a href="<%= doc.premalink %>" target="_blank"><%= doc.title %></a>
    </p>
  </div>
</div>
<% end %>
<% if(@ruddl.empty?) %>
    <div class="box panel">
      <a href="#" target="_blank"><img src="http://i.imgur.com/Cxagv.jpg"/></a>
      <div class='description'>
        <p class='description_content'>
          <a href="#" target="_blank">No fun on this page :(</a>
        </p>
      </div>
    </div>
<%  end %>
