<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "ruddl" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <link href="images/favicon.ico" rel="shortcut icon">
    <link href="images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
          <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">ruddl</a>
          <div class="container nav-collapse">
            <ul class="nav">
              <li class="<%= 'active' if params[:controller] == 'home' and params[:action] == 'index' %>"><%= link_to "Home", home_index_path %></li>
              <li class="<%= 'active' if params[:controller] == 'home' and params[:action] == 'about' %>"><%= link_to "About", about_home_index_path %></li>
            </ul>
            <ul class="nav pull-right">
                <% if user_signed_in? %>
                    <li>
                        <%= link_to "Settings", services_path  %>
                    </li>
                    <li class="divider-vertical"></li>
                    <li>
                        <%= link_to "Logout", log_out_path %>
                    </li>
                <% else %>
                    <li>
                        <%= link_to "Login", log_in_path  %>
                    </li>
                <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <div class="content">
        <div class="row">
           <div class="span12">
                <% flash.each do |key, value| %>
                    <div class="alert">
                        <a class="close" data-dismiss="alert">×</a>
                        <strong> <%= key %> </strong><%= value %>
                    </div>
                <% end %>
                
                <%= yield %>
            </div>
        </div><!--/row-->
      </div><!--/content-->

      <footer>
        <p>&copy; ruddl 2012</p>
      </footer>

    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>
</html>
